{
	"arrowParens": "always",
	"bracketSameLine": false,
	"objectWrap": "preserve",
	"bracketSpacing": false,
	"semi": true,
	"experimentalOperatorPosition": "end",
	"experimentalTernaries": false,
	"singleQuote": true,
	"jsxSingleQuote": false,
	"quoteProps": "as-needed",
	"trailingComma": "all",
	"singleAttributePerLine": false,
	"htmlWhitespaceSensitivity": "css",
	"vueIndentScriptAndStyle": false,
	"proseWrap": "preserve",
	"insertPragma": false,
	"requirePragma": false,
	"tabWidth": 3,
	"useTabs": true,
	"embeddedLanguageFormatting": "auto",
	"cursorOffset": -1,
	"printWidth": 200
}
