.home{
  &__wrap{
    display: flex;
    padding: 44px 0;
    align-items: center;
    gap: 16px;
  }
  &__wrap__item{
    display: flex;
    gap: 16px;
    align-items: center;
  }
  &__wrap__arrow{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}