.product-info {
  &__photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  &__photo {
    opacity: 0.4;

    &.active {
      opacity: 1;
    }

    img {
      object-fit: cover;
    }
  }
}
